In [3]:
import sklearn
import numpy as np
import pandas as pd

In [50]:
gender = pd.read_csv('C:/Users/Maxim/Downloads/titanic/gender_submission.csv')
train = pd.read_csv('C:/Users/Maxim/Downloads/titanic/train.csv')
test = pd.read_csv('C:/Users/Maxim/Downloads/titanic/test.csv')

array = train.values

In [58]:
# best features
X = np.concatenate((array[:,0], array[:,2:]), axis=1)

AxisError: axis 1 is out of bounds for array of dimension 1

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [59]:
array[0,:].shape

(11,)